!!!
%head
  %meta{:charset => "UTF-8"}/
  %title 学際情報学府制作展
  %meta{:content => "smurakami", :name => "keywords"}/
  %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
  / %meta{:content => "telephone=no", :name => "format-detection"}/
  %link{:href => "./img/favicon.ico", :rel => "shortcut icon"}/
  / %link{:href => "css/smart.css", :media => "only screen and (max-device-width:480px)", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
  / %link{:href => "css/style.css", :media => "screen and (min-device-width:481px)", :rel => "stylesheet", :type => "text/css"}/
  /[if IE] <script type="text/javascript" src="excanvas.js"></script>
  %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "js/jquery-2.1.0.min.js"}
  %script{:src => "js/main.js"}
%body
  %section#top
    .constraint
      #top-img
        %img{src: "img/top-img.png", alt: "東京大学制作展"}
      #top-copy
        %p.sm.md リアルからちょっと離れてる空間
        %p.lg リアルから
        %p.lg ちょっと離れてる
        %p.lg 空間
      #top-info
        %p 2014年xx月xx日 ~ xx月xx日
        %p xx:xx ~ xx:xx (最終日はxx:xx ~ xx:xx)
        %p
          東京大学工学部2号館xxxx (
          %a{href: '#'} Map
          )
    #top-city-img
  %section#nav
    .constraint
  %section#intro
    .constraint
      .title
        %p ご挨拶
      .contents
  %section#gallery
    .constraint
      .title
        %p ギャラリー
      .subtitle
        %p 作品
      #gallery-works
        %ul
          %li
            %a{href: "#{}"}
              .work-elem
                .work-img
                  %img{src: "img/work.png", alt: "作品名"}
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a{href: "#{}"}
              .work-elem
                .work-img
                  %img{src: "img/work.png", alt: "作品名"}
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a{href: "#{}"}
              .work-elem
                .work-img
                  %img{src: "img/work.png", alt: "作品名"}
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a{href: "#{}"}
              .work-elem
                .work-img
                  %img{src: "img/work.png", alt: "作品名"}
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a{href: "#{}"}
              .work-elem
                .work-img
                  %img{src: "img/work.png", alt: "作品名"}
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a{href: "#{}"}
              .work-elem
                .work-img
                  %img{src: "img/work.png", alt: "作品名"}
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a{href: "#{}"}
              .work-elem
                .work-img
                  %img{src: "img/work.png", alt: "作品名"}
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
          %li
            %a{href: "#{}"}
              .work-elem
                .work-img
                  %img{src: "img/work.png", alt: "作品名"}
                  .work-description
                    .work-title
                      %p 作品名
                    .work-author
                      %p 制作者
      .subtitle
        %p メイキング
      #gallery-making
        %ul
          %li
            .making-elem
              %img{src: "img/work.png", alt: "風景"}
          %li
            .making-elem
              %img{src: "img/work.png", alt: "風景"}
          %li
            .making-elem
              %img{src: "img/work.png", alt: "風景"}
          %li
            .making-elem
              %img{src: "img/work.png", alt: "風景"}
          %li
            .making-elem
              %img{src: "img/work.png", alt: "風景"}
          %li
            .making-elem
              %img{src: "img/work.png", alt: "風景"}
          %li
            .making-elem
              %img{src: "img/work.png", alt: "風景"}

  %section#staff
    .constraint
      .title
        %p スタッフ
      .contents
  %section#footer
    .constraint
      / access, link
